$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

#header-container{
  max-width: 1298px;
  height:100vh;
  background-image: url("/images/Header Background.png");
  background-repeat: no-repeat;
}
.cbtn{

  display: inline-block;
  background-image: url("/images/btn.png");
  background-repeat: no-repeat;
  width: 200px;
  height: 40px;
}


