$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

#header-container{
  max-width: 1916px;
  height:100vh;
  background-image: url("/images/Header Background.png");
}
