$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

$font-color : white;

#header-wrapper{
  max-width: 1298px;
  height:100vh;
  background-image: url("/images/Header Background.png");
  background-repeat: no-repeat;
  color: $font-color;


}
#landing-page-container{
  display: table;
  height: 100%;
}
#va-center{
  float:none;
  display:table-cell;
  vertical-align:middle;
}

/* Landing page buttons */
#landing-page-ul{
  padding-left: 0;
}
.cbtn{

  display: inline-block;
  //background-image: url("/images/btn.png");
  //background-repeat: no-repeat;
  background-color: teal;
  width: 245px;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;

}

.cbtn a{
  color: $font-color;
}

/* Fun Facts */
.title{
  text-transform: uppercase;
  border-bottom: solid 5px teal;
}
